<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <!--css_begin-->
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/boostrap/bootstrap-3.3.7/bootstrap-3.3.7/dist/css/bootstrap.min.css"/>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <!--treetable css-->
    <link rel="stylesheet" type="text/css" href="/static/treeTable/themes/vsStyle/treeTable.min.css"/>

    <!--zTree-->
    <link rel="stylesheet" type="text/css" href="/static/jquery-ztree/css/zTreeStyle/zTreeStyle.min.css"/>
    <!--css_end-->


    <!--js_begin-->
    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/boostrap/bootstrap-3.3.7/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <!--js_end-->

    <!--treetable.js-->
    <script src="/static/treeTable/jquery.treeTable.min.js"></script>

    <!--zTree.js-->
    <script src="/static/jquery-ztree/js/jquery.ztree.core-3.5.min.js"></script>

    <!--左边菜单栏按钮图标改变-->
    <script src="/static/js/doropDown.js"></script>
    <script src="/static/dropzone/min/dropzone.min.js"></script>

    <script src="/static/js/datetime.js"></script>


</head>
</html>