<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head_copy">
    <link rel="stylesheet" type="text/css"  href="/static/css/index.css"/>
    <link rel="stylesheet" type="text/css"  href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css"  href="/static/css/nav.css"/>
    <link rel="stylesheet" type="text/css"  href="/static/boostrap/css/bootstrap.min.css"/>
    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/boostrap/js/bootstrap.min.js"></script>

</div>