<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css"  href="/static/boostrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <script src="/static/boostrap/js/bootstrap.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <title>首页</title>
</head>
<body style="background: url('/static/image/index.jpg') no-repeat; background-size: cover;" >
   <div class="row">
       <div class="col-md-4 col-sm-2 col-xs-2"></div>
       <div class="col-md-4 col-sm-6 col-xs-8 main">
           <p>
               贺州市地处三省交界，自古以来多民族聚居，其民俗语言非常多样，为了保护本地的语言特色，4月15日上午，
               贺州学院西校区校史馆成立了贺州学院语言博物馆。
           </p>
       </div>
       <div class="col-md-4 col-sm-2 col-xs-2"></div>
   </div>


</body>
</html>